
@{
    ViewBag.Title = "PaymentSuccess";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h3>Payment Completed Succesfully</h3>
        @Html.ActionLink("GO TO HOMEPAGE", "Home", "CustomerMain")
        
    </div>
</div>


