
@{
    ViewBag.Title = "WalletHasInSufficientBalance";
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <p>Sorry you dont have sufficient balance to process this transaction</p>
        @Html.ActionLink("Go To Your Home Page","Home","CustomerMain")
    </div>

</div>

