@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAboutAndContact.cshtml";
}

<img src="~/ImagesFolder/AboutUsBackground.jpg" style="width:100%" />
<h2 class="text-center">@ViewBag.Title Us</h2>
<div class="container">
    <p style="text-align:justify;font-size:16px;margin-bottom:30px;">We love what can happen around the restaurant table. Since 1998, we’ve been committed to empowering that experience. From helping restaurants grow and run their businesses, to enabling diners to discover and book the perfect table every time they dine, our story is one of connection—among diners, restaurants, and their communities. But the table is just the start. Now, we’re growing globally like never before, and continuing to lead the conversation in the tech and restaurant spaces with products that anticipate the changing needs of restaurants and diners. As we span countries and cultures, we’re very aware of an essential ingredient in making the power of our products possible: you. You are the reason why we work hard to be one step ahead of the moment and what inspires us to embody the true spirit of hospitality. So, pull up a chair and join us.</p>
</div>
<div class="container wow slideInUp">
    <div class="jumbotron text-center" style="background-color:#d9534f;color:white">
        <h2>Be A Part Of Our Story</h2>
        <p style="font-size:16px;">We're always looking for great folks to join us on our mission. If you want to be a part of our story, we'd love to chat. Explore our careers section to see if there's a role that excites you. If there isn't one and we like each other, we'll create one for you.</p>
        <a style="margin-top:30px;color:#d9534f" class="btn btn-default btn-lg" href="http://www.linkedin.com">Work With Us</a>

    </div>
</div>