@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutAboutAndContact.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>@ViewBag.Title.</h2>
                <address>
                    Block 4, DLF IT Park,<br />
                    SEZ Campus, 1/124, Shivaji Gardens<br />
                    , Mount Poonamalle High Road,<br />
                    Manapakkam, Chennai, Tamil Nadu 600089<br />
                    Phone : 425.555.0100
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@platedrestaurants.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@platedrestaurants.com</a>
                </address>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="https://goo.gl/maps/WaSYM2oYWvF2"><img src="~/ImagesFolder/workmap.png" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>
