
@{
    ViewBag.Title = "PrivacyPolicy";
}


<div>
    <h1 style="font-size: 45px;padding-left: 45px;padding-right: 45px">Plated Privacy Policy</h1>
</div>
<br>
<br>
<div style="padding-left: 45px;padding-right: 45px">
    <p style="text-align: justify; font-size:20px ">
        This privacy policy (this " Policy") explains how personal information is collected, used, and disclosed by Plated, Inc. and its subsidiaries (collectively, " Plated," " we," " our" or " us"). This Policy applies to visitors and users (individually , " you ") of Plated's websites, applications, and other online services (each, a " Site," and collectively, our " Sites"), although not all services described here are available in all jurisdictions. You can identify the Plated company that hosts a particular Site and is responsible for your information under this Policy here . By visiting or using our Sites, to the extent permitted by applicable law, you are consenting to us gathering and processing information about you in accordance with this Policy, although consent may not be required for all of the elements described in this Policy. For particular types of information or processing, we may provide you with choices or request your further consent related to what information we collect and how we may process it.

        Third parties (such as restaurants, issuers of Merchant Gift Cards (as this term is defined in the Plated Terms of Use ) you purchase through our Sites, and social networks that you use in connection with our Sites) may also collect, use, and share information about you. This Policy does not cover such third parties or their services and we do not take any responsibility for how such third parties may use any information they collect. For information about third-party privacy practices, please consult with them directly.
    </p>


    <h3 style="text-decoration-line: underline;">Brief Overview</h3>

    <table class="table table-bordered table-responsive" style="font-size:20px">
        <tr>
            <td>
                Information We Collect
            </td>
            <td> We may collect your information in connection with your registration, use, purchase, or inquiries on or about our Sites that link to this Policy. </td>
        </tr>

        <tr>
            <td>
                How We Use Your Information
            </td>
            <td>We may use your information to provide services, respond to and fulfill your requests, operate and market our Sites, comply with applicable law, and as otherwise permitted by applicable law. </td>
        </tr>


        <tr>
            <td>
                How We Share Your Information
            </td>
            <td>We may share your information with restaurants, restaurant groups, restaurant affiliates, gift card merchants, our affiliates, subsidiaries, business partners, service providers and other third parties to provide our Sites and fulfill your requests, and as otherwise consented to by you or as permitted by applicable law. Under certain circumstances, we act as the data processor of your information. </td>
        </tr>

        <tr>
            <td>
                Security of Your Information
            </td>
            <td>We maintain commercially-reasonable technical, administrative, and physical security measures designed to protect your information. </td>
        </tr>

        <tr>
            <td>
                Cookies and Other Tracking Technologies
            </td>
            <td>We may use cookies and similar technologies to help provide our Sites, offer you a more personalized user experience and market products and services to you. </td>
        </tr>
        <tr>
            <td>
                Your Choices
            </td>
            <td>
                You can opt out of receiving marketing communications from us, change your communication preferences, update your location sharing, and/or opt-out of certain sharing of your information with third parties.
            </td>
        </tr>
        <tr>
            <td>
                Access and Correction of Your Information
            </td>
            <td>
                We provide you the opportunity to access, correct and update your information
            </td>
        </tr>

        <tr>
            <td>
                International Transfers
            </td>
            <td>

                We may transfer your information outside of your home country. To protect your information, any such international transfers will be made in accordance with applicable law.
            </td>
        </tr>

    </table>


</div>


