
@{
    ViewBag.Title = "ForgetPassword";
 
}


<div class="forgot">
    <div class="container">
        
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                    <div class="jumbotron" style="height:300px">
                        <form method="post" action="ForgetPassword" align="center">

                            <h4 class="pull-left">Enter Your Registered Mail Id </h4>


                            <input class="form-control" type="text" name="Email" />
                            <span class="pull-left"><button class="btn btn-danger" style="margin-top:30px;margin-bottom:100px" type="submit">Submit</button></span>


                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>


