body {
    font-size: 62.5%;
    font-family: arial, sans-serif;
}

#nttLogo {
    height: 100px;
    width: 100px;
}

#websiteTitle {
    font-size: 10em;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
    padding-left: 15px;
    color: #191970;
}

#websiteSlogan {
    font-size: 5.4em;
}
/* Carousel Styling */
.slide1 {
    background-image: url('~/ImagesFolder/Restaurants/hyatt/hyatt-hotels-corporation-1-638.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide2 {
    background-image: url('~/ImagesFolder/Restaurants/hyatt/sea-view-night.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide3 {
    background-image: url('~/ImagesFolder/Restaurants/hyatt/Village-square.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-caption h1 {
    font-size: 5.4em;
    font-family: 'Pacifico', cursive;
    padding-bottom: .4em;
}

.carousel-caption p {
    font-size: 2em;
}


    
