
@{
    ViewBag.Title = "ConfirmBooking";
    Layout = "~/Views/Shared/_Layout_Restaurant.cshtml";
}



<head>

    <meta name="viewport" content="width=device-width" />


    <style>
        .jumbotron {
            background-color: white;
        }
    </style>
</head>


<div class="container" align="center" style="margin-top:100px;">

    <h3>Your have Confirmed order</h3>



</div>
<div align="center">
    @Html.ActionLink("Back To Home", "Index", "RestaurantMain")
</div>
