@model RestaurantDAL.Wallet
@{
    ViewBag.Title = "MyEarnings";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="container">
    <div class="jumbotron">
        Your Total Earning Till Now Is @Model.Wallet_Amount
    </div>
</div>



